{% extends 'common/base.html' %}
{% block content %}
{% load static %}
{% include 'common/hero-top.html' %}
        <h2>Club History</h2>
    {% if object_list %}
        {% for history_item in object_list %}
        <section class="history-item">
            <h3 class="history-title">{{ history_item.history_title }}</h3>
            <div class="history-wrapper">
                {% if history_item.image %}
                <div class="history-media"><img src="{{ history_item.image.url }}" alt="History image"></div>
                    {% endif %}
                <div class="history-text">
                    <p>{{ history_item.history_text }}</p>
                </div>
            </div>
        </section>
        {% endfor %}
    {% else %}
        <section class="history-item">
            <h3 class="history-title">No club history found.</h3>
            <div class="history-wrapper">
                <div class="history-text">
                    <p>You can add new history items which will be displayed here.</p>
                </div>
            </div>
        </section>
    {% endif %}
    
{% endblock %}