{% extends 'common/base.html' %}
{% block content %}
{% load static %}
{% include 'common/hero-top.html' %}
        <h2>Club History</h2>
        <section class="history-item">
            <h3 class="history-title">Early years</h3>
            {# TODO: make history text and image dynamic - reading from the history model #}
            <div class="history-wrapper">
                <div class="history-media"><img src="{% static 'images/Capture-768x445.webp' %}"></div>
                <div class="history-text">
                    <p>The first seeds of the archery club were sown in May 1957 when the head of physiotherapy at the orthopaedic hospital in Gobowen, Oswestry, contacted the Overton Archery Club and asked if they could arrange a demonstration of archery at the hospital. At that time the hospital was considering using archery as therapy for patients. Overton club took some equipment to the hospital and a demonstration was given (23rd May 1957). Suitably impressed, the hospital decided (17th June 1957) to go ahead and started an archery group for the benefit of patients and staff, informally called Orthopaedic Archers. A couple of months later (August 1957), the Overton club donated some equipment to the hospital to start them off. At the beginning of the following season (March 1958) the Overton club agreed to adopt the Orthopaedic Archers to enable them to gain regional status and for administration purposes.</p>
                </div>
            </div>
        </section>
        <section class="history-item">
            <h3 class="history-title">Historical development</h3>
            <div class="history-wrapper">
                <div class="history-media"><img src="{% static 'images/Croes-comp-9-p7u4u524e6cyeuqkakam744ow6w.webp' %}"></div>
                <div class="history-text">
                    <p>At this point records are a bit vague. There are references to Croesoswallt Archers as well as to Oswestry Archery Club but it is not known whether these were separate clubs or use of different names for the same club. The first mention of the name “Croesoswallt Archers” was in Nov. 1962 when Overton club hosted the Deeside Western League competition which Croesoswallt attended. Then, in 1962, Croesoswallt joined North Wales Archery Society as an affiliated club in its own right.  A note in the AGM minutes in their December 1962 meeting welcomes the new club into their society. Interestingly, in Nov. 1964 there is further mention in Overton club’s notes of Oswestry Archery Club attending their ground for a DWL competition but unclear, as mentioned above, whether this is use of a different name for the same club or reference to a different club altogether.</p>
                </div>
            </div>
        </section>
{% endblock %}