{% extends 'common/base.html' %}
{% block content %}
    {% load static %}
    {% include 'common/hero-top.html' %}
    {# TODO: DJANGO UNFOLD!; Poetry for packets #}
    <section class="introduction">
        {% if mission %}
            {% if mission.image_url %}
                <div class="intro-media"><img src="{{ mission.image_url.url }}" alt="Croesoswallt archers range"></div>
            {% endif %}
            <div class="intro-text">
                <h3>Our Mission Statement</h3>
                <p>{{ mission.mission_text }}</p>
            </div>
        {% else %}
            <div class="intro-text">
                <h3>Cannot find mission statement</h3>
                <p>You can set one through the admin panel.</p>
            </div>
        {% endif %}
    </section>
    <section class="events">
        <h2>What next?</h2>
        <div class="event">
            <h3>Events</h3>
            {% if events %}
                <ul>
                    {% for event in events %}
                        <li class="event-card">
                            <h3>{{ event.start_date }}</h3>
                            <p>Title: {{ event.title }}</p>
                            <p>Hosted by: {{ event.hosted_by }}</p>
                            <p>From: {{ event.start_date|date:"d-m-Y H:i" }}</p>
                            <p>To: {{ event.end_date|date:"d-m-Y H:i" }}</p>
                            <p>Description: {{ event.event_description }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <ul>
                    <li class="event-card">
                        <h3>No upcoming events found</h3>
                    </li>
                </ul>
            {% endif %}
        </div>
        <div class="news">
            <h3>News</h3>
            {% if news %}
                <ul>
                    {% for news_item in news %}
                        <li class="news-card">
                            <h3>{{ news_item.created_at }}</h3>
                            <p>{{ news_item.title }}</p>
                            <p>Posted by: {{ news_item.author.first_name }} {{ news_item.author.last_name }}</p>
                            <p>Description: {{ news_item.news_text }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <ul>
                    <li class="news-card">
                        <h3>No news found</h3>
                    </li>
                </ul>
            {% endif %}
        </div>
        <div class="on-the-field">
            <h3>Today we have:</h3>
            {# TODO: dynamically count number of shooting members for the day #}
            <p>6 members shooting on the field.</p>
        </div>
    </section>
    <section class="get-in-touch">
        <h2>Get in touch</h2>
        <div class="get-in-touch-wrapper">
            {% if testimonials %}
                <div class="testimonials">
                    <h3>A few words from our beginners:</h3>
                    <ul class="carousel-list">
                        {% for testimonial in testimonials %}
                            <li class="carousel-item">
                                <p class="testimonial">{{ testimonial.text }}</p>
                                <p>{{ testimonial.customer }} {{ testimonial.date_given|date:"d M Y" }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                    <button class="prev" onclick="prevSlide()">&#10094;</button>
                    <button class="next" onclick="nextSlide()">&#10095;</button>
                    <script src="{% static 'scripts/carousel.js' %}"></script>
                </div>
            {% endif %}
            <div class="contact-us">
                <a href="{% url 'contact_us' %}">Contact us!</a>
            </div>
        </div>
    </section>
    <section class="where-are-we">
        <div class="map-wrapper">
            <div class="where-are-we-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2409.897009771448!2d-2.994238323036936!3d52.842240812321734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487abbc531eb3cc7%3A0x406471649ae3ea03!2sCroesoswallt%20Archers!5e0!3m2!1sen!2suk!4v1730746351480!5m2!1sen!2suk"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            {# TODO: Future project - make this dynamic #}
            <div class="map-text">
                <h3>Our range is based at the British Ironwork Centre Oswestry SY114JH</h3>
                <p>Our club has three Ranges The main Range has 16 lanes permanently set out for both Metric and
                    Imperial shooting which covers all distances required for competitions. A Training Range used for
                    Beginner courses and Taster sessions and a full-length Clout Range. Although we do not have an
                    indoor range on site, we do hire a sports hall over the winter period only in the local village of
                    St Martins shooting an 18m distance.</p>
            </div>
        </div>
    </section>
{% endblock %}