{% extends 'common/base.html' %}
{% block content %}
{% load static %}
{% include 'common/hero-top.html' %}

        <section class="introduction">
            {# TODO: dynamically include mission statement #}
            <div class="intro-media"><img src="{{ mission.image_url.url }}"></div>
            <div class="intro-text">
                <h3>Our Mission Statement</h3>
                <p>{{ mission.mission_text }}</p>
            </div>
        </section>
        <section class="events">
            {# TODO: events list #}
            <h2>What next?</h2>
            <div class="event">
                <h3>Events</h3>
                <ul>
                    <li class="event-card">
                        <h3>2022-04-15</h3>
                        <p>Archery Competition</p>
                        <p>Hosted by: the British Ironwork Centre Oswestry</p>
                        <p>Location: British Ironwork Centre Oswestry SY114JH</p>
                        <p>Time: 19:00 - 22:00</p>
                        <p>Description: Non-Record-status competition. National round.</p>
                    </li>
                    <li class="event-card">
                        <h3>2022-05-01</h3>
                        <p>National Archery Day</p>
                        <p>Hosted by: the British Ironwork Centre Oswestry</p>
                        <p>Location: British Ironwork Centre Oswestry SY114JH</p>
                        <p>Time: 10:00 - 12:00</p>
                        <p>Description: Archery competition held annually in May.</p>
                    </li>
                    <li class="event-card">
                        <h3>2022-05-15</h3>
                        <p>Cross-Country Championships</p>
                        <p>Hosted by: the British Ironwork Centre Oswestry</p>
                        <p>Location: British Ironwork Centre Oswestry SY114JH</p>
                        <p>Time: 15:00 - 18:00</p>
                        <p>Description: Cross-country competition held annually in May.</p>
                    </li>
                </ul>
            </div>
            <div class="news">
                {# TODO: News list #}
                <h3>News</h3>
                <ul>
                    <li class="news-card">
                        <h3>2022-04-15</h3>
                        <p>Title 1</p>
                        <p>Posted by: Joe bloggs</p>
                        <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint libero magnam perspiciatis</p>
                    </li>
                    <li class="news-card">
                        <h3>2022-04-15</h3>
                        <p>Title 1</p>
                        <p>Posted by: Joe bloggs</p>
                        <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint libero magnam perspiciatis</p>
                    </li>
                    <li class="news-card">
                        <h3>2022-04-15</h3>
                        <p>Title 1</p>
                        <p>Posted by: Joe bloggs</p>
                        <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint libero magnam perspiciatis</p>
                    </li>
                </ul>
            </div>
            <div class="on-the-field">
                <h3>Today we have:</h3>
                {# TODO: dynamically count number of shooting members for the day #}
                <p>6 members shooting on the field.</p>
            </div>
        </section>
        <section class="get-in-touch">
            <h2>Get in touch</h2>
            <div class="get-in-touch-wrapper">
                <div class="testimonials">
                    {# TODO: dynamically include testimonials #}
                    <h3>A few words from our beginners:</h3>
                    <ul class="carousel-list">
                        {% for testimonial in testimonials %}
                        <li class="carousel-item">
                            <p class="testimonial">{{ testimonial.text }}</p>
                            <p>{{ testimonial.customer }} {{ testimonial.date_given|date:"d M Y" }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    <!-- Carousel navigation arrows as anchor tags -->
                    <button class="prev" onclick="prevSlide()">&#10094;</button>
                    <button class="next" onclick="nextSlide()">&#10095;</button>
                    <script src="{% static 'scripts/carousel.js' %}"></script>
                </div>
                <div class="contact-us">
                    {# TODO: Contact us form with async email send to admins? #}
                    <a href="contact-us.html">Contact us!</a>
                </div>
            </div>
        </section>
        <section class="where-are-we">
            <div class="map-wrapper">
                <div class="where-are-we-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2409.897009771448!2d-2.994238323036936!3d52.842240812321734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487abbc531eb3cc7%3A0x406471649ae3ea03!2sCroesoswallt%20Archers!5e0!3m2!1sen!2suk!4v1730746351480!5m2!1sen!2suk" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                {# TODO: Future project - make this dynamic #}
                <div class="map-text">
                    <h3>Our range is based at the British Ironwork Centre Oswestry SY114JH</h3>
                    <p>Our club has three Ranges The main Range has 16 lanes permanently set out for both Metric and Imperial shooting which covers all distances required for competitions. A Training Range used for Beginner courses and Taster sessions and a full-length Clout Range. Although we do not have an indoor range on site, we do hire a sports hall over the winter period only in the local village of St Martins shooting an 18m distance.</p>
                </div>
            </div>
        </section>
{% endblock %}