/* Basic styling for the calendar */
.calendar-page {
    background-color: #1E4E3B;
    padding: 20px;
}

.calendar-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cal-title-wrapper {
    text-align: center;
}

.calendar-header button {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1E4E3B;
    color: #fff;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    border: 1px solid #ddd;
}
.day-header, .day-cell {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}
.day-header {
    font-weight: bold;
    background-color: #f0f0f0;
}
.day-cell {
    min-height: 100px;
    position: relative;
}
.event {
    padding: 3px;
    font-size: 0.9em;
    margin-top: 5px;
    border-radius: 5px;
    color: #fff;
    overflow: hidden;
}

.clb-event {
    background-color: #858aa5;
    border-radius: 5px;
    overflow: hidden;
}

.flb-event {
    background-color: #33bd23;
    overflow: hidden;
}

.calendar-legend {
    max-width: 500px;
    margin: 10px auto;
    text-align: center;
}

.calendar-legend p {
    color: #fff;
    font-weight: bold;
}
