.create-new-title {
    background-color: #1E4E3B;
    color: #fff;
}

.create-form-container {
    
    background-color: #1E4E3B;
}

.create-form-container form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.create-form-container * {
    color: #1E4E3B;
}

.create-form-container p {
    text-align: center;
    color: #fff;
}

.create-form-container p label {
    margin-right: 20px;
    color: #fff;
    align-self: flex-start;
}

.create-form-container p input,
.create-form-container p textarea {
    width: 40ch;
    color: #1E4E3B;
    border-radius: 7px;
    outline: none;
    padding: 5px;
}

.create-form-container p input {
    color: #1E4E3B;
}

.error {
    color: red;
}