#message-container {
    position: fixed;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 90%;
    max-width: 600px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.custom-alert {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-success {
    background-color: #4CAF50;
}

.custom-error {
    background-color: #f44336;
}

.custom-warning {
    background-color: #ff9800;
}

.custom-info {
    background-color: #2196F3;
}

.alert-message {
    flex-grow: 1;
}