{% extends 'common/base.html' %}
{% block content %}
{% load static %}
{% include 'common/hero-top.html' %}
        <h2>News</h2>
        {# TODO: make this list dynamic and limit to 1 week #}
        <section class="news-items">
            
            <div class="news-item">
                <div class="news-media"><img src="{% static 'images/Capture-768x445.webp '%}"></div>
                <h3 class="news-title">News item title</h3>
                <div class="news-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore delectus at deleniti animi qui voluptas error similique quisquam, maiores quidem vero repellendus voluptatum veniam? Nobis ipsum laborum voluptatem deserunt beatae?</p>
                    <p class="date-published">Published on: 2024-11-05</p>
                    <p class="author">Published by: Author 1</p>
                </div>
            </div>
            <div class="news-item">
                <div class="news-media"><img src="{% static 'images/Capture-768x445.webp' %}"></div>
                <h3 class="news-title">News item title</h3>
                <div class="news-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore delectus at deleniti animi qui voluptas error similique quisquam, maiores quidem vero repellendus voluptatum veniam? Nobis ipsum laborum voluptatem deserunt beatae?</p>
                    <p class="date-published">Published on: 2024-11-05</p>
                    <p class="author">Published by: Author 1</p>
                </div>
            </div>
            <div class="news-item">
                <div class="news-media"><img src="{% static 'images/Capture-768x445.webp' %}"></div>
                <h3 class="news-title">News item title</h3>
                <div class="news-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore delectus at deleniti animi qui voluptas error similique quisquam, maiores quidem vero repellendus voluptatum veniam? Nobis ipsum laborum voluptatem deserunt beatae?</p>
                    <p class="date-published">Published on: 2024-11-05</p>
                    <p class="author">Published by: Author 1</p>
                </div>
            </div>
            <div class="news-item">
                <div class="news-media"><img src="{% static 'images/Capture-768x445.webp' %}"></div>
                <h3 class="news-title">News item title</h3>
                <div class="news-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore delectus at deleniti animi qui voluptas error similique quisquam, maiores quidem vero repellendus voluptatum veniam? Nobis ipsum laborum voluptatem deserunt beatae?</p>
                    <p class="date-published">Published on: 2024-11-05</p>
                    <p class="author">Published by: Author 1</p>
                </div>
            </div>
        </section>
    {# TODO: make a view for all the past news which are active #}
        <section>
            <a href="#" class="past-news">See past news...</a>
        </section>
{% endblock %}