{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    {# TODO: Dynamic title? #}
    <title>Archery Club | Croesoswallt Archers</title>
</head>
<body>
    <header>
        <nav class="main-navigation">
            <ul>
                {# TODO: change buttons for logged in user and amend links #}
                <li><a href="../membership/login.html">Login</a></li>
                <li><a href="history.html">History</a></li>
                <li><a href="../membership/membership.html">Membership</a></li>
            </ul>
            <div class="main-logo"><a href="home.html"><img src="{% static 'images/Logo_lrg.png' %}" alt="Croesoswallt Archers Logo" /></a></div>
            <ul>
                <li><a href="../news/news.html">News</a></li>
                <li><a href="../events/events.html">Events</a></li>
                <li><a href="contact-us.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        
        {% block content %}
        {% endblock %}
    
        </main>
    <footer>
        <ul>
            <li><div class="ssas-media"><a href="http://www.shropshirearcherysociety.co.uk/"><img src="{% static 'images/county-logo_400px.webp' %}" alt="Shropshire Archery Society Logo"></a></div></li>
            <li><div class="agb-media"><a href="http://www.archerygb.org/"><img src="{% static 'images/agb_logo.webp' %}" alt="Archery GB Logo" /></a></div></li>
            <li><div class="ontarget-media"><a href="https://archerygb.org/files/A5-ontarget-community-brochure-WEB-single-pages.pdf"><img src="{% static 'images/ONTARGET-Community-logo1.webp' %}" alt="OnTarget Community logo"></a></div></li>
        </ul>
        <ul class="socials">
            <li><a href="https://www.facebook.com/CroesoswalltArchery"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/croesoswallt_archers"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </footer>
    
</body>
</html>