{#{% extends 'common/base.html' %}#}
{#{% block content %}#}
{#    {% load static %}#}
{#    {% include 'common/hero_top.html' %}#}
{% extends 'common/base_profile.html' %}
{% block member_content %}

    <div class="create-form-container">
        {% if form.is_archived %}
            <h2 class="create-new-title" style="color: #fff;">Update Event</h2>
        {% else %}
            <h2 class="create-new-title" style="color: #fff;">Create New Event</h2>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.title }}</p>
            <p>{{ form.start_date }}</p>
            <p>{{ form.start_date.help_text }}</p>
            <p>{{ form.end_date }}</p>
            <p>{{ form.end_date.help_text }}</p>
            <p>{{ form.image }}</p>
            <p>{{ form.image.help_text }}</p>
            <p>Current image:</p>
            {% if form.image.value.url %}
                <p><img src="{{ form.image.value.url }}" alt="Current Image"
                        style="max-width: 200px; max-height: 200px;">
                </p>
            {% endif %}
            <p>{{ form.hosted_by }}</p>
            <p>{{ form.event_description }}</p>
            {% if form.is_archived %}
                <p>{{ form.is_archived.label }}</p>
                <p>{{ form.is_archived }}</p>
                <p>{{ form.author.label }}</p>
                <p>{{ form.author }}</p>
                <p><input type="submit" value="Update"></p>
            {% else %}
                <p><input type="submit" value="Create"></p>
            {% endif %}
            {% if form.errors %}
                <div class="error">
                    {{ form.errors }}
                </div>
            {% endif %}
        </form>
{#        {% if messages %}#}
{#            <ul>#}
{#                {% for message in messages %}#}
{#                    <li>{{ message }}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endif %}#}

    </div>
{% endblock %}