<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="staticfiles/styles/styles.css">
    <title>Archery Club | Croesoswallt Archers</title>
</head>
<body>
    <header>
        <nav class="main-navigation">
            <ul>
                <li><a href="login.html">Login</a></li>
                <li><a href="history.html">History</a></li>
                <li><a href="membership.html">Membership</a></li>
            </ul>
            <div class="main-logo"><a href="home.html"><img src="staticfiles/images/Logo_lrg.png" alt="Croesoswallt Archers Logo" /></a></div>
            <ul>
                <li><a href="news.html">News</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="contact-us.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero-top">
            <h1>Welcome to Croesoswallt Archers!</h1>
        </section>
        <h2>Becoming a member</h2>
        <section class="event-item">
            <div class="event-wrapper">
                <div class="event-media"><img src="staticfiles/images/Logo_lrg.png"></div>
                <div class="event-text">
                    <p>To become a member of our club, please contact us via the "Contact us!" button below. Once you have passed your beginner's course, you will be handed a one-time-use token, which you need to use together with the email provided to the membership secretary to register yourself. Once you have registered successfully, you will be able to update your contact details (once). All other amends to contact details will need to be approved by the membership secretary.</p>
                </div>
            </div>
        </section>
        <div class="membership-button-wrapper">
            <div class="membership-contact-us">
                <a href="contact-us.html">Contact us!</a>
            </div>
            <div class="membership-contact-us">
                <a href="register.html">Register</a>
            </div>
        </div>
    </main>
    <footer>
        <ul>
            <li><div class="ssas-media"><a href="http://www.shropshirearcherysociety.co.uk/"><img src="staticfiles/images/county-logo_400px.webp" alt="Shropshire Archery Society Logo"></a></div></li>
            <li><div class="agb-media"><a href="http://www.archerygb.org/"><img src="staticfiles/images/agb_logo.webp" alt="Archery GB Logo" /></a></div></li>
            <li><div class="ontarget-media"><a href="https://archerygb.org/files/A5-ontarget-community-brochure-WEB-single-pages.pdf"><img src="staticfiles/images/ONTARGET-Community-logo1.webp" alt="OnTarget Community logo"></a></div></li>
        </ul>
        <ul class="socials">
            <li><a href="https://www.facebook.com/CroesoswalltArchery"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/croesoswallt_archers"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </footer>
    
</body>
</html>