{% extends 'common/base-profile.html' %}
{% block member_content %}
    <section class="profile-content">
        <h2 style="text-align: left">Club Announcements</h2>
        <div class="contents-wrapper">
            <div class="profile-details-announcement">
                <ul>
                    {% for announcement in object_list %}
                        <li>
                            <a href="{% url 'detail-club-announcements' announcement.pk %}" class="highlight_link">Title: {{ announcement.title }}
                                - Created by: {{ announcement.author.username }} - On: {{ announcement.created_at }} -
                                Read by: {{ announcement.read_by.count }}</a></li>
                    {% empty %}
                        <li>No announcements found</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{#    {% if messages %}#}
{#        <ul>#}
{#            {% for message in messages %}#}
{#                <li>{{ message }}</li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}
{% endblock %}