{% extends 'common/base-profile.html' %}
{% block member_content %}
    <section class="create-section">
        <div class="create-section-div">
            <p class="create-user-title">Edit user</p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {% if edit_user %}
                    <button type="submit" class="admin-submit-btn">Update</button>
                {% else %}
                    <button type="submit" class="admin-submit-btn">Create</button>
                {% endif %}
                {% if request.user.is_staff %}
                    <form method="post">
                        {% csrf_token %}
                        <button class="admin-submit-btn" name="generate_reset_token" type="submit">Generate Reset
                            Token
                        </button>
                    </form>
                {% endif %}
            </form>
{#            {% if messages %}#}
{#                <ul>#}
{#                    {% for message in messages %}#}
{#                        <li>{{ message }}</li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            {% endif %}#}

        </div>
    </section>
{% endblock %}