{% extends 'common/base.html' %}
{% block content %}
    {% load static %}
    {% include 'common/hero-top.html' %}
    <h2>Login</h2>
    <section class="login-section">
        <div class="login-section-div">
            <div class="login-media"><img src="{% static 'images/Croes-comp-9-p7u4u524e6cyeuqkakam744ow6w.webp' %}"
                                          alt="Archery target">
            </div>
            <form class="login-form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" value="Login"></p>
                <p>Forgot your password?</p>
                <p><a href="{% url 'request-reset-token' %}">Click here</a></p>
                <p>Already have a token?</p>
                <p><a href="{% url 'reset-password' %}">Click here</a></p>
            </form>
        </div>
    </section>
{% endblock %}