{% extends 'common/base.html' %}
{% block content %}
{% load static %}
{% include 'common/hero-top.html' %}
        <h2>Register</h2>
        <section class="login-section">
            {# TODO: check formatting of the form and adjust if needed. in registration form #}
            <div class="login-section-div">
                <div class="register-media"><img src="{% static 'images/Croes-comp-9-p7u4u524e6cyeuqkakam744ow6w.webp' %}"></div>
                <form class="register-form" method="post">
{#                    <p><label for="username">Username:</label></p>#}
{#                    <p><input type="text" id="username" placeholder="Please enter your username/email"></p>#}
{#                    <p><label for="password">Password:</label></p>#}
{#                    <p><input type="password" id="password" placeholder="Please enter your password"></p>#}
{#                    <p><label for="password2">Repeat Password:</label></p>#}
{#                    <p><input type="password" id="password2" placeholder="Please repeat your password"></p>#}
{#                    <p><label for="token">Token:</label></p>#}
{#                    <p><input type="text" id="token" placeholder="Please enter your token"></p>#}
{#                    <p><input type="submit" value="Register"></p>#}
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Complete Profile</button>

                </form>
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </section>
{% endblock %}