{% extends 'common/base.html' %}
{% block content %}
    {% load static %}
    {% include 'common/hero-top.html' %}
    <h2>Request Token</h2>
    <section class="login-section">
        <div class="login-section-div">
            <div class="login-media"><img src="{% static 'images/Croes-comp-9-p7u4u524e6cyeuqkakam744ow6w.webp' %}"
                                          alt="Archery target">
            </div>
            <form class="login-form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" value="Request"></p>
            </form>

        </div>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
{% endblock %}