{% extends 'common/base.html' %}
{% block content %}
    {% include 'common/hero-top.html' %}
    <div class="calendar-page">
        <div class="calendar-container">
            <div class="calendar-header">
                <button onclick="changeMonth(-1)">Previous</button>
                <div class="cal-title-wrapper"><h2 id="month-year"></h2>
                    <button onclick="returnMonth()">Back to current month</button>
                </div>
                <button onclick="changeMonth(1)">Next</button>
            </div>

            <div class="calendar-grid">

                <div class="day-header">Sun</div>
                <div class="day-header">Mon</div>
                <div class="day-header">Tue</div>
                <div class="day-header">Wed</div>
                <div class="day-header">Thu</div>
                <div class="day-header">Fri</div>
                <div class="day-header">Sat</div>
            </div>

            <div class="calendar-grid" id="calendar-days"></div>
        </div>

        <div class="calendar-legend">
            <p class="clb-event event">Event - please select an event to see more information</p>
            <p class="flb-event event">Booking - shows if an archer is shooting on this date</p>
            <p class="flb-event event">Hint: You can select a date in the calendar to book a session.</p>
        </div>
    </div>
    <div id="calendar" data-booking-url="{% url 'create_date_booking' 'PLACEHOLDER' %}"></div>
    <script>

        let currentDate = new Date();
        const data = {{ data|safe }};

        function renderCalendar() {
            const month = currentDate.getMonth();
            const year = currentDate.getFullYear();

            document.getElementById('month-year').textContent = currentDate.toLocaleString('default', {
                month: 'long',
                year: 'numeric'
            });


            const firstDay = new Date(year, month, 1);
            const lastDay = new Date(year, month + 1, 0);


            const startDayOfWeek = firstDay.getDay();
            const daysInMonth = lastDay.getDate();


            const calendarDays = document.getElementById('calendar-days');
            calendarDays.innerHTML = '';


            for (let i = 0; i < startDayOfWeek; i++) {
                calendarDays.innerHTML += '<div class="day-cell"></div>';
            }

            // I have to pass the URL from HTML otherwise DTL won't replace.
            const calendar = document.getElementById('calendar');
            const baseUrl = calendar.getAttribute('data-booking-url')

            for (let day = 1; day <= daysInMonth; day++) {
                const dayCell = document.createElement('div');
                dayCell.classList.add('day-cell');
                const selectedDate = `${year}-${String(month + 1).padStart(2, '0')}-${String(day).padStart(2, '0')}`;
                dayCell.setAttribute('data-date', selectedDate);
                dayCell.innerHTML = `<strong>${day}</strong>`;

                // Create link for booking
                const linkToBook = document.createElement('a');
                linkToBook.href = baseUrl.replace('PLACEHOLDER', selectedDate);
                linkToBook.appendChild(dayCell);

                // Check if the selected date matches today's date  - updated - currentDate not fixed.
                const today = new Date();
                const todayStr = today.toISOString().split('T')[0];
                if (selectedDate === todayStr) {
                    dayCell.classList.add('current-day');
                }

                // Append link to calendar days
                calendarDays.appendChild(linkToBook);
            }


            populateEvents(data);
        }

        function populateEvents(data) {

            data.bookings.forEach(booking => {
                const startDate = new Date(booking.start_date);
                const dateStr = startDate.toISOString().split('T')[0];
                const endDate = new Date(booking.end_date);
                const endDateStr = endDate.toISOString().split('T')[0]
                const dayCell = document.querySelector(`.day-cell[data-date="${dateStr}"]`);
                let bookingId = Number(booking.id)
                if (dayCell) {
                    const anchorElement = document.createElement('a');
                    anchorElement.href = `{% url 'club-event-detail' 0 %}`.replace('/0/', `/${bookingId}/`);
                    const eventElement = document.createElement('div');
                    eventElement.classList.add('clb-event');
                    anchorElement.classList.add('event');
                    anchorElement.textContent = `${booking.event_description} from ${dateStr} to ${endDateStr}`;
                    eventElement.appendChild(anchorElement)
                    dayCell.appendChild(eventElement);
                }
            });


            data.field_bookings.forEach(fieldBooking => {
                const dateStr = fieldBooking.date;
                const dayCell = document.querySelector(`.day-cell[data-date="${dateStr}"]`);
                if (dayCell) {
                    const eventElement = document.createElement('div');
                    eventElement.classList.add('event');
                    eventElement.classList.add('flb-event')
                    eventElement.textContent = `Archer from ${fieldBooking.time_from} to ${fieldBooking.time_to}`;
                    dayCell.appendChild(eventElement);
                }
            });
        }

        function changeMonth(step) {

            currentDate.setMonth(currentDate.getMonth() + step);
            renderCalendar();
        }

        function returnMonth() {

            currentDate = new Date();
            renderCalendar();
        }


        renderCalendar();
    </script>
{% endblock %}