{% extends 'common/base.html' %}
{% block content %}
{% load static %}
{% include 'common/hero-top.html' %}
    {% if past_events %}
        <h2>Past events</h2>
    {% else %}
        <h2>Events</h2>
    {% endif %}
    {# TODO: details view for events and participate functionality #}
        {% if object_list %}
            {% for event in object_list %}
        <section class="event-item">
            <h3 class="event-title">{{ event.title }}</h3>
            <div class="event-wrapper">
                {% if event.image %}
                <div class="event-media"><img src="{{ event.image.url }}"></div>
                {% endif %}
                <div class="event-text">
                    <p class="hosted-by">Hosted by: {{ event.hosted_by }}</p>
                    <p class="date-of-event">{{ event.start_date|date:"d-m-Y" }}</p>
                    <p class="start-time">Start time: {{ event.start_date|date:"H:i" }}</p>
                    <p class="event-desctiption">{{ event.event_description }}</p>
                    <p class="date-published">Published on: {{ event.created_at|date:"d-m-Y" }}</p>
                    <p class="author">Published by: {{ event.author.first_name }} {{ event.author.last_name }}</p>
                </div>
            </div>
        </section>
            {% endfor %}
        {% else %}
        <section class="event-item">
            <h3 class="event-title">No events found</h3>
            <div class="event-wrapper">
                <div class="event-text">
                    <p class="event-desctiption">Please check again later.</p>
                </div>
            </div>
        </section>
        {% endif %}
        <section>
        {% if past_events %}
            <a href="{% url 'club-events' %}" class="past-news">Back to recent events...</a>
        {% else %}
            <a href="{% url 'club-past-events' %}" class="past-news">See past events...</a>
        {% endif %}
        </section>
{% endblock %}