{% extends 'common/base.html' %}
{% block content %}
{% load static %}
{% include 'common/hero-top.html' %}
        <h2>Events</h2>
    {# TODO: make dynamic. Create view for all events (past events) #}
        <section class="event-item">
            <h3 class="event-title">Event 1</h3>
            <div class="event-wrapper">
                <div class="event-media"><img src="{% static 'images/Capture-768x445.webp' %}"></div>
                <div class="event-text">
                    <p class="hosted-by">Hosted by: Croesoswallt archers</p>
                    <p class="date-of-event">Start date: 2024-11-05</p>
                    <p class="start-time">Start time: 9:00</p>
                    <p class="event-desctiption">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore delectus at deleniti animi qui voluptas error similique quisquam, maiores quidem vero repellendus voluptatum veniam? Nobis ipsum laborum voluptatem deserunt beatae?</p>
                    <p class="date-published">Published on: 2024-11-05</p>
                    <p class="author">Published by: Author 1</p>
                </div>
            </div>
        </section>
        <section class="event-item">
            <h3 class="event-title">Event 2</h3>
            <div class="event-wrapper">
                <div class="event-media"><img src="{% static 'images/Capture-768x445.webp' %}"></div>
                <div class="event-text">
                    <p class="hosted-by">Hosted by: Croesoswallt archers</p>
                    <p class="date-of-event">Start date: 2024-11-05</p>
                    <p class="start-time">Start time: 9:00</p>
                    <p class="event-desctiption">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore delectus at deleniti animi qui voluptas error similique quisquam, maiores quidem vero repellendus voluptatum veniam? Nobis ipsum laborum voluptatem deserunt beatae?</p>
                    <p class="date-published">Published on: 2024-11-05</p>
                    <p class="author">Published by: Author 1</p>
                </div>
            </div>
        </section>


{% endblock %}